@font-face {
        font-family: 'Gilroy';
        src: url('fonts/gilroy-800-normal.woff2') format('woff2'), url('fonts/gilroy-800-normal.woff') format('woff');
        font-weight: 800;
        font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('fonts/opensans-300-normal.woff2') format('woff2'), url('fonts/opensans-300-normal.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy';
    src: url('fonts/gilroy-300-normal.woff2') format('woff2'), url('fonts/gilroy-300-normal.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans";
    font-size: 15px;
    line-height: 24px;
    font-weight: 300;
    color: #464646;
    list-style: none;
}
a {
    text-decoration: none;
    color: #000000;
}
.visually-hidden{
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip-path: inset(50%); 
}


*, *::before, *::after {
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
}


/*  HEADER  */


.main-header ul{
    list-style: none;
}
.header-logo{
    position:absolute;
    top:21px;
}
.main-header{
    box-sizing: border-box;
    background-color:#f7e296;
    width: 1160px; 
    margin:0 auto;
    margin-top: 40px;
    padding: 35px 60px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
}
.header-operations {
    padding:0;
    margin:0;
    display:flex;
    margin-bottom:15px;
    align-items: center;
}
.search input{  
    padding:14px;
    background-color: #f7e296;
    color:rgba(0, 0, 0, 0.3);
    border:none;
    width:100%;
}
.search form{
    display:flex;
}
.search{
    width:440px;
    color:#000000;
    order:-4;
    position: relative;
    margin-right: auto;
    padding-left: 25px;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
}
.search button{
    display:none;
    margin-bottom: -2px;
    padding: 12px;
    background-color: #f7e296;
    border: 2px solid #000000;
}
.search:focus-within{
    border-bottom: 2px solid rgba(0, 0, 0, 1)
}
.search form:focus-within button{
    display:block;
}
.search button:hover{
    background-color: #000000;
    color:#ffffff;
}
.search input:focus{
    outline:none;
}
.search button:active{
    color:rgba(255, 255, 255, 0.3);
}
.search::before{
    background-image: url(/img/search.svg);
    content:"";
    background-repeat: no-repeat;
    width:16px;
    height:16px;
    position: absolute;
    margin-left:-23px;
    margin-top:15px;
}
.header-login::before{
    content: "";
    position: absolute;
    background-image: url(/img/user.svg);
    background-repeat: no-repeat;
    width:12px;
    height: 12px;
    margin-left:-23px;
    margin-top:6px;
}
.header-compare::before{
    content: "";
    position: absolute;
    background-image: url(/img/compare.svg);
    background-repeat: no-repeat;
    width:12px;
    height: 12px;
    margin-left:-20px;
    margin-top:7px;
}
.header-basket::before{
    content: "";
    position: absolute;
    background-image: url(/img/cart.svg);
    background-repeat: no-repeat;
    width:12px;
    height: 12px;
    margin-left:-22px;
    margin-top:6px;
}
.header-compare{
    margin-right:65px;
    margin-left:240px;
}
.navigation-list{
    letter-spacing: 3.6px;
    display: flex;
    flex-wrap: wrap;
}   
.catalog-link::before,
.catalog-link::after{
    content:"";
    position: absolute;
    background-color: #b8a974;
    width:2px;
    height: 16px;
    left:238px;
    top:2px; 
}
.catalog-link::before{
    transform: rotate(90deg)
}
.opening-catalog{
    position: relative;
    order:-1;
    margin-right:281px;
}
.catalog-list{
    display:none;
}
.navigation-list li:nth-child(2){
    margin-left:34px;
    margin-right: 104px;
}
.header-conteiner{
    display:flex;
    align-items: center;
    font-family: "Gilroy";
    font-weight: 800;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 3.6px;
}
.header-logo:hover,
.navigation-list li:hover{
    opacity: 0.6;
}
.header-logo:active,
.navigation-list li:active{
    opacity: 0.3;
}


/*  MAIN  */


.products, .services{
    background-color: rgb(255, 0, 0);
}
.main-content ul{
    list-style: none;
}
.add-info h2{
    font-family: "Gilroy";
    font-weight: 800;
    font-size: 47px;
    margin-bottom:60px;
    color:#000000;
}
.friends ul{
    display:flex;
    position: relative;
}
.friends{
    width: 1160px;
    margin:0 auto;
    margin-bottom: 200px;
}
.logo-1::before{
    position: absolute;
    content:"";
    background-image:url(/img/dji-logo.png);
    background-repeat: no-repeat;
    width: 260px;
    height: 100px;
    opacity: 0.2;
    margin-left: -50px;
}
.logo-2::before{
    position: absolute;
    content:"";
    background-image:url(/img/sp-gadgets-logo.png);
    background-repeat: no-repeat;
    width: 260px;
    height: 100px;
    opacity: 0.2;
    margin-left: 250px;
}
.logo-3::before{
    position: absolute;
    content:"";
    background-image:url(/img/gopro-logo.png);
    background-repeat: no-repeat;
    width: 260px;
    height: 100px;
    opacity: 0.2;
    margin-left: 600px;
}
.logo-4::before{
    position: absolute;
    content:"";
    background-image:url(/img/vive-logo.png);
    background-repeat: no-repeat;
    width: 260px;
    height: 100px;
    opacity: 0.2;
    margin-left: 900px;
}
.add-info{
    display: flex;
    width: 1160px;
    margin:0 auto;
    margin-bottom:100px;
}
.we{
    width:470px;
    margin-right: 140px;
}
.contacts{
    width:560px;
}
.add-info p{
    line-height: 30px;
}
.contacts p{
    margin-bottom: 50px;
}
.decoration-line-1{
    width: 80px;
    height: 7px;
    background-color: #000000;
    align-self: center;
    margin-bottom: 55px;
}
.more, 
.write-us{
    position: relative;
    font-family: "Gilroy";
    font-size: 18px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 3.6px;
    line-height: 24px;
    display:block;
    order: 5;
}
.write-us::before,
.more::before{
    content: "";
    position: absolute;
    width: 260px;
    height: 8px;
    background-color:#f0c52e;
}


/*  FOOTER  */


.main-footer ul{
    list-style: none;
}
.main-footer{
    padding: 0;
    margin:0;
    background-color: #464646;
    color:#ffffff;
    width:100%;
    min-height: 325px;
    box-sizing: border-box;
}
.main-footer a{
    color:#ffffff;
}
.footer-container__line-1{
    display: flex;
    margin-bottom: 12px;
}
.footer-container__list{
    padding:0;
    margin:0;
    margin-left: auto;
    display: flex;   
    flex-wrap: wrap;
}
.footer-container__list li{
    margin-left:42px;
}
.footer-container{
    display:flex;
    width:  1160px;
    padding-top:65px;
    flex-direction: column;
    margin:0 auto;
}
.footer-container__line-2{
    display:flex;
    margin-bottom: 45px;
}
.footer-navigation{
    font-family: "Gilroy";
    font-weight: 800;
    font-size: 18px;
    color:#ffffff;
    text-transform: uppercase;
    flex-wrap: wrap;
    letter-spacing: 3.6px;
    margin-left: 105px;
    margin-right: auto;
}

.footer-navigation-list {
    display: flex;

}
.footer-navigation-list li{
 margin:0 17px;
}
.address{
    order:-3;
}
.footer-container__line-3{
    display:flex;
    position: relative;
}
.social{ 
    display:flex;
    margin:auto;
    position: relative;
}
.decoration-line-2{
    position: absolute;
    width: 80px;
    height: 7px;
    background-color: #ffc600;
    top:13px;
}
.footer-container__list a{
    display:flex;
}
.footer-container__list li:first-child{
    display: flex;
}
.footer-container__list .exit{
    margin-left:20px;
    color:rgba(255, 255, 255, 0.3)
}
.icon{
    margin-right: 11px;
}
.social-Facebook::before{
    position: absolute;
    content:"";
    background-image: url(/img/facebook.svg);
    background-repeat: no-repeat;
    width:32px;
    height:32px;
    opacity: 0.3;
    bottom: -12px;
    margin-left:-78px;
}
.social-Instagram::before{
    position: absolute;
    content:"";
    background-image: url(/img/insta.svg);
    background-repeat: no-repeat;
    width:32px;
    height:32px;
    opacity: 0.3;
    bottom: -12px;
    margin-left:-22px;
}
.social-Twitter::before{
    position: absolute;
    content:"";
    background-image: url(/img/twit.svg);
    background-repeat: no-repeat;
    width:32px;
    height:32px;
    opacity: 0.3;
    margin-left:32px;
    bottom: -12px;
}

.footer-logo:hover,
.footer-container__list li:hover,
.footer-navigation-list li:hover,
.social li:hover,
.html-academy:hover{
    opacity: 0.6;
}
.footer-logo:active,
.footer-container__list li:active,
.footer-navigation-list li:active,
.social li:active,
.html-academy:active{
    opacity: 0.3;
}


/*  contacts-window   */


.contacts-window{
    position: relative;
    box-sizing: border-box;
    font-family: "Gilroy";
    font-weight: 800;
    font-size: 18px;
    width: 960px;
    min-height: 553px;
    box-shadow: 0px 10px 20px 0 rgba(4, 6, 6, 0.2);
    margin: 0 auto;
    padding: 95px 100px;
}
.contacts-window input{
    margin-top:13px;
    background-color: #f2f2f2;
    border:none;
    padding:20px 20px;
    width:360px;
}
.contacts-window form{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}
.name{
    margin-right:auto;
}
.letter input{
    width:760px;
    min-height: 156px;
}
.close {
    background-color: #f0c52e;
    position: absolute;
    right: 35px;
    top: 35px;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    border:none;
    opacity: 0.5;
}
    .close:hover {
    opacity: 1;
}
    .close:active{
    opacity: 0.3;
}
    .close:before, .close:after {
    position: absolute;
    top:12px;
    right:26px;
    content: """";
    height: 30px;
    width: 2px;
    background-color: #e5e5e5;
}
    .close:before {
    transform: rotate(45deg);
}
    .close:after {
    transform: rotate(-45deg);
}
.send{
    position: relative;
    border:none;
    background:none;
    margin-top:55px;
}
.send::before{
    position: absolute;
    content: "";
    width:200px;
    height: 8px;
    background-color: #f0c52e;
}
.contacts-window p{
    color:#000000;
}